.header-image {
    background-color: teal;
}

body {
    background-color:royalblue;
}

.row {
    display: flex;
}

.gallery {
    padding: 80px 0;
}

.gallery-item {
    max-width: 100%;
    background-color: purple;
    padding: 5px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    cursor: pointer;
}

#gallery-modal .modal-img {
    width: 100%;
}